# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\joaop\Desktop\FEI\2° Semestre\CA2330 - Teoria dos Grafos\Projeto\PARTE 3\Projeto_parte3\Codigo_python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
